
body { 
 transform: scale(2);
transform-origin: 0px 0px 0px;
}
#aufgaben {
 width:400px;
 transform: scale(0.8);
 transform-origin: 0px 0px 0px;
 height:350px;
 padding-left:9px;
}

.fullf {
 background-color:#ff8000;
 height:50px;
}
     
#reoso {
 padding-left:9px;
}
#left{
color:black;
}
#kontakt1{
 width:400px;
 transform: scale(1.2);
 transform-origin: 0px 0px 0px;
 height:350px;
 padding-left:9px;
}
@media screen  and (max-width :950px){
   nav div {
   display: -moz-inline-grid;
 }
  .navbar-brand{
    display:none;
  }
    #aufgaben{
    padding-right: 40px;
  }
}


