
body { 
 transform: scale(2);
transform-origin: 0px 0px 0px;
}
.demo {
		border:1px solid #C0C0C0;
		border-collapse:collapse;
		padding:5px;
		margin-left:9px;
		
	}
	.demo th {
		border:1px solid #C0C0C0;
		padding:5px;
		background:#F0F0F0;
	}
	.demo td {
		border:1px solid #C0C0C0;
		padding:5px;
	}
.aufgaben {
 width:500px;
 transform: scale(0.8);
 transform-origin: 0px 0px 0px;
 height:360px;
 padding-left:30px;
}

.fullf {
 background-color:#ff8000;
 height:50px;
}
     
#reoso {
padding-left: 20px;
width: 400px;
padding-top: 10px;
}
#left{
color:black;
}
#kontakt1{
 width:400px;
 transform: scale(1.2);
 transform-origin: 0px 0px 0px;
 height:350px;
 padding-left: 20px;
 padding-top: 10px;
}
}
img {
	height:300px;
}



#pics {
	
  	width: 1000px;
	
}

#24b {
	margin-top:2px;
}




@media screen  and (max-width :950px){
   nav div {
   display: -moz-inline-grid;
 }
  .navbar-brand{
    display:none;
  }
    .aufgaben{
    padding-right: 40px;
     height: 400px;
  }
	
 .demo {
  transform: scale(0.65);
  transform-origin: 0px 0px 0px;
    
  }
 #reoso {
   transform: scale(0.7);
  transform-origin: 0px 0px 0px;
 }
#pics {
	padding-right:600px;
	height:1800px;
	}
	
}


